
<mat-toolbar >修改密码</mat-toolbar >
<div class="personalInfo">
  <form class="example-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>原密码</mat-label>
      <input matInput [(ngModel)]="oldPassword" name="oldPassword" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>新密码</mat-label>
      <input matInput [(ngModel)]="newPassword" name="newPassword" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>重复密码</mat-label>
      <input matInput [(ngModel)]="duplicatePassword" name="duplicatePassword" required>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="submit()">保存</button>
  </form>
</div>


